<svg 
    xmlns="http://www.w3.org/2000/svg" 
    viewBox="0 0 198.4375 187.85416" 
    [attr.height]="visualNestService.height" 
    [attr.width]="visualNestService.width"
    (window:resize)="onResize($event)"
    >
    <g #booby>
        <g #bodyColors>
            <path #beakColor [attr.d]="currentVisual.beakColor.d" [ngStyle]="currentVisual.beakColor.attr"/>
            <path #wingsColor [attr.d]="currentVisual.wingsColor.d" [ngStyle]="currentVisual.wingsColor.attr"/>
        </g>
        <g #body>
            <path *ngFor="let bodyLines of currentVisual.body" [attr.d]="bodyLines"/>
        </g>
        <g #eyes>
            <path #leftEye [attr.d]="currentVisual.eyes.leftEye[0]"/>
            <path #leftPupil [attr.d]="currentVisual.eyes.leftPupil[0]"/>
            <path #rightEye [attr.d]="currentVisual.eyes.rightEye[0]"/>
            <path #rightPupil [attr.d]="currentVisual.eyes.rightPupil[0]"/>
        </g>
    </g>
</svg>
