@import "../commonStyles.scss";

* {
    padding: 0;
    margin: 0;
}

.x {
    position: fixed;
    top: 2.5em;
    right: 3.5em;
}

.x.displayed {
    pointer-events: auto;
    cursor: pointer;
}

.x.hidden {
    pointer-events: none;
    cursor: default;
}

.image {
    cursor: pointer;
}

.limoragam {
    height: 30vh;
}

div.self-portrait {
    position: absolute;
    left: 0;
    right: 0;
    margin:0 auto;
}

img.selfportrait {
    height: 30vh;
}

img.photo {
    height: 20vh;
    margin: 5vh auto;
}

.silliness {
    height: 25vh;
}

.army {
    height: 40vh;
}

.banana {
    height: 55vh;
}

.wrapper-about {
    position: relative;
    text-align: center;
    border: 1px solid $text-color;
    border-radius: 1em;
    padding: 1em;
    background-color: rgb(240,240,240);
    height: 76vh;
    overflow-y: auto;
    position: relative;
    transition: opacity 400ms ease-in-out;
}

.content {
    line-height: 2em;
}

.large-text {
    font-size: 1.5em;
}

.small-text {
    font-size: 0.8em;
}
