<div class="wrapper-about">
  <div class="content">
    <span id="target-greetings" class="huge-text">Greetings, You.</span>
    <br>

    <!-- Limor Agam -->
    My name is <b><a href="#" (click)="peekAtPhoto($event)">Limor&nbsp;Agam</a></b>.
    <br>
    <div class="image limoragam">
      <div class="self-portrait" *ngIf="!showPhoto" [@fadeIn]>
        <a href="#" (click)="peekAtPhoto($event)">
          <img class="selfportrait sheep" src="/assets/images/SelfPortrait.svg" alt="Self Portrait">
        </a>
      </div>
      <div class="self-portrait" *ngIf="showPhoto" [@fadeIn]>
        <img class="selfportrait photo" src="/assets/images/portrait01bw.jpg" alt="Limor Agam">
      </div>
    </div>

    <!-- Silliness -->
    <span id="target-silliness">My mission is to promote silliness and happiness all over the world.</span>
    <br>
    <div class="image" [@fadeIn]>
      <img class="silliness" src="/assets/images/Silliness.svg" alt="Silliness">
    </div>

    <!-- Army -->
    <span id="target-army">I have a professional army to help me out.</span>
    <br>
    <span id="target-business" class="large-text">We mean business.</span>
    <div class="image" [@fadeIn]>
      <img class="army" src="/assets/images/Army.svg" alt="Army" [ngClass]="layoutService.getOrientation()==='landscape' ? 'landscape' : 'portrait'">
    </div>
    <span [@fadeIn]>We will bring World Peace!</span>
    <br>

    <!-- World Peace (banana) -->
    <div class="image" [@fadeIn]>
      <img class="banana" src="/assets/images/BananaMissile.svg" alt="Banana" [ngClass]="layoutService.getOrientation()==='landscape' ? 'landscape' : 'portrait'"><br>
      <span class="small-text">(If wars looked like this, World Peace would come much, much sooner.)<br><br></span>
    </div>

    <!-- Attack -->
    We will attack anything:
    <br>
    Websites
    <br>
    Books
    <br>
    Plates
    <br>
    Napkins
    <br>
    Pyjamas
    <br>
    Greeting cards
    <br>
    Even unsuspecting walls.
    <br>
    If you see someone or something that needs cheering up, we are at your service.
    <br>
    <span class="large-text">Be on our side.</span>
    <br>
  </div>

  <!-- Frog -->
  <img class="frog" src="/assets/images/Frog.svg" alt="Frog">
</div>
