@import "../commonStyles.scss";

* {
    padding: 0;
    margin: 0;
}

.limoragam {
    height: 30vh;
    position: relative; // necessary to position children absolutely in it
}

div.self-portrait {
    margin:0 auto;
    position: absolute; // position two pics one on top of each other
    top: 0;
    left: 0;    // left and right are set to 0 (and margin to auto) in order to center
    right: 0;
}

img.sheep {
    height: 30vh;
}

img.photo {
    height: 20vh;
    margin: 5vh auto;
}

.silliness {
    height: 25vh;
}

.army.landscape {
    height: 40vh;
}

.army.portrait {
    width: 76vw;    
}

.banana.landscape {
    height: 55vh;
}

.banana.portrait {
    width: 76vw;
}

.wrapper-about {
    text-align: center;
    transition: opacity 400ms ease-in-out;
    padding: 1em 0 1em 0;
}

.content {
    line-height: 2em;
}

.huge-text {
    font-size: 2.5em;
}

.large-text {
    font-size: 1.5em;
}

.small-text {
    font-size: 0.8em;
}
