// .layout-wrapper > * {
//     border: 1px solid #f08c00;
// }

nav {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

.layout-content {
    grid-area: content;
    text-align: center;
}
.layout-nav {
    grid-area: nav;
    z-index: 10;
}
.layout-visual {
    grid-area: visual;
    text-align: center;
}
.layout-title {
    grid-area: title;
    text-align: center;
}
.layout-wrapper {
    max-width: 630px;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 20px;
    grid-template-areas: 
        "nav"
        "content"
        "visual"
        "title";
}
