<div class="tooltip">
    <span class="tooltiptext">Call</span>
    <a href="#" (click)="phoneClick()"><img class="icon" src="/assets/images/IconPhone.svg" alt="Phone"></a>
</div>
<div class="tooltip">
    <span class="tooltiptext">Write</span>
    <a href="mailto:limoragam@gmail.com"><img class="icon" src="/assets/images/IconGmail.svg" alt="Mail"></a>
</div>
<div class="tooltip">
    <span class="tooltiptext">Follow</span>
    <a href="https://www.facebook.com/limor.agam.9" target="_blank"><img class="icon" src="/assets/images/IconFB.svg" alt="Facebook"></a>
</div>
<div class="tooltip">
    <span class="tooltiptext">Gallery (in progress)</span>
    <a href="https://www.instagram.com/limoragam/" target="_blank"><img class="icon" src="/assets/images/IconInstagram.svg" alt="LinkedIn"></a>
</div>
            
<br><span class="phone" *ngIf="phoneClicked"> +972.50.7973765</span>
