<a href="#" (click)="phoneClick()"><img class="icon" src="/assets/images/IconPhone.svg" alt="Phone"></a>
<a href="mailto:limoragam@gmail.com"><img class="icon" src="/assets/images/IconGmail.svg" alt="Mail"></a>
<a href="https://www.facebook.com/limor.agam.9" target="_blank"><img class="icon" src="/assets/images/IconFB.svg" alt="Facebook"></a>
<a href="https://www.linkedin.com/in/limoragam" target="_blank"><img class="icon" src="/assets/images/IconLI.svg" alt="LinkedIn"></a>
<a href="https://www.linkedin.com/in/limoragam" target="_blank"><img class="icon" src="/assets/images/IconInstagram.svg" alt="LinkedIn"></a>
<br><span class="phone" *ngIf="phoneClicked"> +972.50.7973765</span>
