* {
//    border: 1px solid pink;
    margin: 0;
}

.wrapper {
    padding: 10px 0 0 0;
    height:100vh;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-image: url("/assets/images/background.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.fullwidth-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.dynamic {
    transform: translateX(100vw);
}

.introducing {
    font-size: 5em;
    opacity: 0;
}

.limoragam {
    height: 96vh;
}

h3 {
    font-weight: normal;
}

.items {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin:0 auto;
}

app-contact {
    z-index: 21;
}

.about-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2em;
    width: 100vw;
}

.mushroom {
    position: absolute;
    margin: 0 0.5em;
    cursor: pointer;
    z-index: 20;
    transition: all 200ms ease-in-out;
}
