<div 
  class="wrapper" 
  [ngStyle]="{'background-size':layoutService.getBackgroundDominantDimension()==='width' ? '100% auto':'auto 100%'}" 
  (window:resize)="onResize($event)"
  [@fadeIn]
  >
  <div 
    class="fullwidth-wrapper static introducing" 
    [ngStyle]="{'font-size':layoutService.getOrientation()==='landscape' ? '5em':'2em'}"
    >
    <br>Introducing
    <br>the
    <br>Blue-Footed Booby
  </div>

  <div class="fullwidth-wrapper dynamic" *ngFor="let svg of layoutService.svgs" >
    <img 
      class="mainImage"
      [src]="svg" alt="See My Feet?" 
      [style.width]="layoutService.mainVisualWidth" 
      [style.height]="layoutService.mainVisualHeight"
      >
  </div>

  <div class="fullwidth-wrapper dynamic dragon">
    <app-visual-dragon></app-visual-dragon>
  </div>
  
  <div class="fullwidth-wrapper static limoragam" [@fadeIn]>
    <div class="items">
      <div class="mushroom" [@fadeIn] [ngStyle]="mushroomStyle">
        <app-visual-mushroom (click)="onMushroomClick()"></app-visual-mushroom>
      </div>
      <app-visual-limoragam></app-visual-limoragam>
      <h3>Minimalistic Optimistic Humoristic Visuals & Design</h3>
      <app-contact></app-contact>
    </div>
  </div>

  <div class="about-wrapper">
    <app-about></app-about>
  </div>
</div>