<div class="wrapper" (window:resize)="layoutService.onResize($event)">
  <div class="fullwidth-wrapper dynamic" *ngFor="let svg of layoutService.svgs" >
    <img 
      class="mainImage"
      [src]="svg" alt="See My Feet?" 
      [style.width]="layoutService.mainVisualWidth" 
      [style.height]="layoutService.mainVisualHeight"
      >
  </div>

  <div class="fullwidth-wrapper dynamic">
    <app-visual-dragon></app-visual-dragon>
  </div>
  <div class="fullwidth-wrapper static" [@fadeIn]>
    <app-visual-limoragam></app-visual-limoragam>
  </div>
  <div class="mushroom" [@fadeIn] [ngStyle]="mushroomStyle">
    <app-visual-mushroom (click)="onMushroomClick()"></app-visual-mushroom>
  </div>
  <div class="partialwidth-wrapper">
    <app-about></app-about>
  </div>
</div>