* {
//    border: 1px solid pink;
    margin: 0;
}

.wrapper {
    padding: 10px 0 0 0;
    height:100vh;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.fullwidth-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
//    border: 1px solid blue;
}

.dynamic {
    transform: translateX(100vw);
}

.partialwidth-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2em;
    width: 100vw;
    min-height: 100vh;
//    border: 1px solid green;
}

.mushroom {
    position: absolute;
    margin: 2em 0.5em;
    cursor: pointer;
    z-index: 20;
    transition: all 200ms ease-in-out;
    //    border: 1px solid green;
}
