* {
//    border: 1px solid pink;
    margin: 0;
}

.wrapper {
    padding: 10px 0 0 0;
    height:100vh;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.fullwidth-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    // border: 1px solid blue;
}

.dynamic {
    transform: translateX(100vw);
}

.partialwidth-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2em;
    width: 100vw;
    min-height: 100vh;
}

.mushroom {
    position: absolute;
    left: 0;
    margin: 0 0 0.5em 0.5em;
    cursor: pointer;
    z-index: 20;
//    border: 1px solid green;
}
