<div class="header">
  <app-title-limoragam [type]="'header'"></app-title-limoragam>
</div>

<div class="gallery-wrapper">
  <div class="title">Work &amp; Play</div>

  <div id="item.id" class="container" *ngFor="let item of galleryService.items">
    <div class="subtitle">
      <h2>{{item.title}}</h2>
    </div>
    <div class="grid">
      <div class="cell" *ngFor="let image of item.images; let i=index" (click)="onThumbnailClick(item.groupId,i)">
        <img [src]="image.thumbnail" [alt]="image.alt">
      </div>
    </div>
  </div>

  <br><br><br>
  
</div>

<app-popup 
  [groupId]="currentGroup" 
  [imageIndex]="currentSlide" 
  [type]="popupType"
  (closeMe)="closePopup()" 
  *ngIf="showPopup"
  ></app-popup>
