.limoragam {
    width: 100vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0.3em 0 0 0;
}

h3 {
    font-weight: normal;
    margin: 0;
}

// .spaces {
//     white-space: pre-wrap;
// }
