// .layout-wrapper > * {
//     border: 1px solid #f08c00;
// }

nav {
    margin: 0;
    padding: 0;
}

.layout-content {
    grid-area: content;
    overflow: hidden;
}
.layout-nav {
    grid-area: nav;
    z-index: 10;
}
.layout-wrapper {
    margin: 0 auto;
    display: grid;
    max-width: 630px;
    grid-row-gap: 5px;
    grid-column-gap: 20px;
    grid-template-areas: 
        "nav"
        "content";
}
