* {
    padding: 0;
    margin: 0;
}

.x {
    float: right;
    margin-right: 1em;
}

.x.displayed {
    pointer-events: auto;
    cursor: pointer;
}

.x.hidden {
    pointer-events: none;
    cursor: default;
}
