@import "../commonStyles.scss";

.main {
//    height: 80vh;
    overflow-x: hidden;
}

app-navigation {
    z-index: 21;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    text-align: center;
    background-color: $footer-background-color;
    border-top: 1px solid $text-color;
}
