// .layout-wrapper > * {
//     border: 1px solid #f08c00;
// }

nav {
    margin: 0;
    padding: 0;
}

.layout-content {
    grid-area: content;
}
.layout-nav {
    grid-area: nav;
    z-index: 10;
}
.layout-visual {
    grid-area: visual;
}
.layout-wrapper {
    width: 100%;
    max-width: 630px;
    margin: 0 auto;
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 20px;
    grid-template-areas: 
        "nav"
        "content"
        "visual";
}
@media (min-width: 680px) {
    .layout-wrapper {
        grid-template-columns: 1fr auto 1fr;
        grid-template-areas: 
            "nav nav nav"
            "visual vertical-separator content";
    }
}
