<ul>
    <li class="egg" (mouseenter)="navigationService.onHover()" (click)="navigationService.toggleMenu()">
        <app-visual-egg></app-visual-egg>
    </li>
    <li class="menu-item" 
        *ngFor="let menuItem of navigationService.menuItems"    
        [ngClass]="menuItem.display" 
        [ngStyle]="menuItem.style"
        >
        <!-- if item has an href, use href -->
        <a 
            *ngIf="menuItem.href; else aRouterLink" 
            [href]="menuItem.href | safeUrl" download target="_blank">{{menuItem.text}}</a>
        <!-- otherwise, use routerLink -->
        <ng-template #aRouterLink>
            <a
            [routerLink]="menuItem.routerLink" 
            routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact:true}">{{menuItem.text}}</a>
        </ng-template>
    </li>
</ul>
