<div class="nav-container">
    <app-visual-egg class="egg" (mouseenter)="navigationService.onHover()" (click)="navigationService.toggleMenu()"></app-visual-egg>
    <ul [ngClass]="getClass()">
        <li class="menu-item" 
            [ngClass]="getClass()"
            *ngFor="let menuItem of navigationService.menuItems"    
            [ngStyle]="menuItem.style"
            >
            <!-- if item has an href, use href -->
            <a 
                *ngIf="menuItem.href; else aRouterLink" 
                [href]="menuItem.href | safeUrl" target="_blank"
                (click)="onClick()"
                >{{menuItem.text}}</a>
            <!-- otherwise, use routerLink -->
            <ng-template #aRouterLink>
                <a
                [routerLink]="menuItem.routerLink" 
                routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact:true}"
                (click)="onClick()"
                >{{menuItem.text}}</a>
            </ng-template>
        </li>
    </ul>
</div>
