<div 
	class="slider-wrapper" 
	[ngStyle]="{width:layoutService.getOrientation()==='landscape' ? '700px' : '320px'}" 
	(window:keyup)="onKeyup($event)"
	>
	<section id="slideshow" [ngStyle]="slideshowDimensions">
		<!-- next and prev -->
		<a 
			class="navigation prev" 
			href="gallery#" 
			title="Previous" 
			(click)="slidePrev()" 
			*ngIf="layoutService.getOrientation()==='landscape'"
			>&lt;</a>
		<a 
			class="navigation next" 
			href="gallery#" 
			title="Next" 
			(click)="slideNext()" 
			*ngIf="layoutService.getOrientation()==='landscape'"
			>&gt;</a>
		
		<!-- slider -->
		<div class="container">
			<div class="background_slider" [ngStyle]="background"></div>
		</div>
		
		<!-- dots -->
		<!-- Comments in between are there so no spaces appear between items -->
		<ul class="dots_navigation"><!--
			--><li *ngFor="let i of numberOfSlides|multiply"><a 
				title="{{i}}" 
				href="gallery#" 
				(click)="setCurrentSlide(i-1)" 
				[ngStyle]="{background:currentSlide===(i-1)?'#aaa':'none'}"
				> </a></li><!--
			-->
		</ul>
		
	</section>
</div>