<div class="item-wrapper" *ngFor="let navigationItem of navigationService.navigationItems">
    <div class="tooltip" *ngIf="show" [@fadeIn] (click)="onItemClicked(navigationItem.name)">
        <span class="tooltiptext">{{navigationItem.tooltipText}}</span>
        <a [href]="navigationItem.href" [target]="navigationItem.target">
            <img 
                class="icon" 
                height="layoutService.getOrientation()==='landscape' ? '5em' : '25em'" 
                [src]="navigationItem.image" 
                [alt]="navigationItem.alt"
                >
        </a>
    </div>
</div>    

<div>
    <app-hamburger 
        *ngIf="layoutService.getOrientation()==='portrait'" 
        [iconClass]="show ? 'x' : 'hamburger'" 
        (click)="show ? show=false : show=true"
        ></app-hamburger>
</div>

<div class="phone" *ngIf="phoneClicked">+972.50.7973765</div>