h4 {
    margin: 0 0 0.5em 0;
}

p {
    margin: 0;
    font-size: 0.9em;
    font-weight: 700;
    transition: opacity 300ms ease-in-out;
}

.icon {
    margin: 0 0.4em;
    display: inline;
    cursor: pointer;
}