@import "../../commonStyles.scss";

* {
    padding: 0;
    margin: 0;
}

.x {
    float: right;
    cursor: pointer;
}

.icon {
    height: 2em;
    vertical-align: top;
}

.wrapper-nav {
    text-align: center;
    border: 1px solid $text-color;
    border-radius: 1em;
    padding: 1em;
    background-color: $background-color
}

ul {
    list-style: none;
}

li {
    margin: 0.3em;
}
